body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  display: flex;
  justify-content:center;
  margin-top: 18%;

}
.box{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-left: 35%;
  width: 450px;
  height: 30px;
  border: 1px solid black;
}
.mick-logo{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-left: 90%;
}
.button{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-right: 140px;
}
.Luckeybutton{
  display: flex;
  justify-content: center;
  margin-top:-1.4%;
  margin-right: -115px;
}
.Language{
  display: flex;
  justify-content: center;
}
